html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.wrapper {
	height: 100%;
	overflow: hidden;
}

.main-container {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0%;
	-webkit-transition: top 1s;
	-moz-transition: top 1s;
	-ms-transition: top 1s;
	-o-transition: top 1s;
	transition: top 1s;
}

.page {
	width: 100%;
	height: 100%;
	position: relative;
}

.section-1 {
	/*Styles for Section #1*/
}

.section-2 {
	/*Styles for Section #1*/
}

.section-3 {
	/*Styles for Section #1*/
}

.section-4 {
	/*Styles for Section #1*/
}